includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: 5
    paths:
        - src

    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        # Add specific error patterns to ignore if needed
        - '#PHPDoc tag @var#' 